<div class="container">

{{!-- navbar with home icon, breadcrumbs --}}
    <div class="row navbar">
        <div class="col-md-3">
            <a href="/"><i class="fas fa-home" style="font-size:2rem"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-center logo-control">
            <img src="/img/logopic.png" style="width:200px" alt="logo">
        </div>
    </div>

<!-- Select doctor -->
<div class="container patient-doctor-dropdowns mt-3">
    <div class="row">
        <div class="col-md-8">
            <h5>{{msg}}</h5>
            <ul id="doctor-list" class="list-group">
                {{#each doctors}}
                    <li data-id="{{this.id}}" class="list-group-item"><a href="doctor/{{this.id}}">{{this.fullname}} ({{this.discipline}})</a>
                        <button data-id="{{this.id}}" class="btn btn-primary float-right doctor-appts"><i class="fas fa-clipboard-list"></i></button>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>