<div class="container">

    {{!-- navbar with home icon, breadcrumbs --}}

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/img/logopic.png" alt="logo">
        </div>
    </div>


    <!-- Select doctor -->
    <div class="container patient-doctor-dropdowns mt-3">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h3 class="title-control text-center ">{{msg}}</h3>
            </div>
        </div>
        <ul id="doctor-list" class="list-group section-b-control">
            {{#each doctors}}
            <a href="doctor/appts/{{this.id}}">
            <li data-id="{{this.id}}" class="list-group-item data-list">
                <button class="button button-control">
                    {{this.fullname}} ({{this.discipline}})</button></a>
                <button data-id="{{this.id}}" class="btn btn-primary button button-control float-right doctor-appts"><i
                        class="fas fa-clipboard-list"></i></button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>