<div class="container">

    {{!-- navbar with home icon, etc. --}}

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/img/logopic.png" alt="logo">
        </div>
    </div>

    <!-- List appointments -->
    <div class="container appt-list mt-3">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h3 class="title-control text-center ">Appointment List</h3>
            </div>
        </div>

        <ul id="appointment-list" class="list-group section-b-control">
            {{#each appointments}}
            <a href="appointment/{{this.id}}">


                <li data-id="{{this.id}}" class="list-group-item data-list">


                    {{this.status}} - {{this.appointment_date}}, {{this.appointment_time}} - {{this.firstname}}
                    {{this.lastname}} ({{this.visit_purpose}})
            </a>

            <a href="appointment/{{this.id}}">
                <button class="btn btn-primary button button-control float-right confirm"><i
                        class="fas fa-check-square"></i></button>
            </a>


            </li>

            {{/each}}

        </ul>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>