<div class="container">

    {{!-- navbar with home icon, etc. --}}

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/img/logopic.png" alt="logo">
        </div>
    </div>

    {{!-- Patient 'signup' form --}}




    {{!-- -------------------------------------- --}}

    <div class="container">
        <section id="section-b" class="section-b-control">
            <!-- <div class="row"> -->
            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-user icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="patient-firstname">
                    <label for="name" class="label-name"><span class="content-text">First Name</span>
                    </label>
                </div>
            </form>

            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-user icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="patient-lastname">
                    <label for="name" class="label-name"><span class="content-text">Last name</span>
                    </label>
                </div>
            </form>

            <form>
                <div class="form col-xs-12">

                    <span><i class="fas fa-envelope icon-control"></i></span>
                    <input type="text" name="name" autocomplete="off" required id="patient-email">
                    <label for="name" class="label-name"><span class="content-text">email</span>
                    </label>
                </div>
            </form>
            <br>
            <button id="submit" class="btn btn-primary float-right">Submit</button>

        </section>
    </div>

    <br>
    <br>

    {{!-- Patient list --}}
    <div class="container patient-doctor-dropdowns">
        <div class="row">
            <div class="col-md-8">
                <h5>{{msg}}</h5></label>
                <ul id="patient-list" class="list-group">
                    {{#each patients}}
                    <li data-id="{{this.id}}" class="list-group-item data-list">
                        <a href="patient/dashboard/{{this.id}}">{{this.firstname}} {{this.lastname}}</a><button
                            class="btn btn-danger float-right delete"><i class="fas fa-trash-alt"></i></button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="/js/index.js"></script>