<div class="container">

{{!-- navbar with home icon, etc. --}}
    <div class="row navbar">
        <div class="col-md-3">
            <a href="/"><i class="fas fa-home" style="font-size:2rem"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-center logo-control">
            <img src="/img/logopic.png" style="width:200px" alt="logo">
        </div>
    </div>

{{!-- Patient 'signup' form --}}

    <div class="row mt-3">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="patient-firstname">First name</label>
                    <input type="text" class="form-control" id="patient-firstname" placeholder="first name">
                </div>

                <div class="form-group">
                    <label for="patient-lastname">Last name</label>
                    <input type="text" class="form-control" id="patient-lastname" placeholder="last name">
                </div>

                <div class="form-group">
                    <label for="visit-purpose">Email</label>
                    <input type="text" class="form-control" id="patient-email" placeholder="email">
                </div>
                    <button id="submit-patient" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
</div>

    <br>
    <br>

{{!-- Patient list --}}
<div class="container patient-doctor-dropdowns">
    <div class="row">
        <div class="col-md-8">
            <h5>{{msg}}</h5></label>
            <ul id="patient-list" class="list-group">
                {{#each patients}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="patient/dashboard/{{this.id}}">{{this.firstname}} {{this.lastname}}</a><button class="btn btn-danger float-right delete"><i class="fas fa-trash-alt"></i></button>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="/js/index.js"></script>